<nav class="navbar navbar-expand-lg bg-body-light">
  <div class="container-fluid" style="text-shadow: 1px 1px black;">
    <a class="navbar-brand" style="color: rgb(195, 232, 249); text-shadow: 1.5px 1.5px black;" href="/show/"><h2>MANAGEMENT</h2></a>
    <button class="navbar-toggler" style="background-color: rgba(130, 204, 239, 0.955);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: rgba(148, 218, 251, 0.955);"></span>
    </button>
    <div class="collapse navbar-collapse" style="color: rgba(144, 212, 244, 0.955);" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto " style="font-size:larger;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: rgb(195, 232, 249);;" href="/show/">Employee List</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" style="color: rgb(195, 232, 249);;" href="/add/">Add Employee</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" style="color: rgb(195, 232, 249);;" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>